<h1>Login</h1>
<form action="/login" method="POST">
  <div>
    <label for="email">Email</label>
    <input type="text" name="name" id="name" required>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="name" id="name" required>
  </div>
  <button>Login</button>


</form>

<a href="/register">Login</a>
