<h1>Register</h1>
<form action="/register" method="POST">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
  </div>

  <div>
    <label for="email">Email</label>
    <input type="text" name="name" id="name" required>
  </div>

  <div>
    <label for="password">Password</label>
    <input type="text" name="name" id="name" required>
  </div>
  <button>Submit</button>


</form>

<a href="/login">Login</a>

   



